body {
text-align: center;
font-family: Helvetica, sans-serif;
}
h1 {
  color: white;
  font-size: 70px;
  font-style: bold;
}

h2 {
  font-size: 32px;
  font-style: bold;
}

h3 {
  font-size: 23px;
  font-style: bold;
}

p {
  font-size: 14px;
}

.nav a {
  font-size: 18px;
  color: white;
}

.hero {
  background-image: url("../../resources/images/the-flatiron-building.png");
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 23px;
  font-style: bold;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.footer a {
  font-size: 18px;
  color: white;
}
